@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: f1;
  src: url("./assets/font/HAFFERXHREGULAR.TTF");
}

body {
  font-family: f1;
}